:root {
  --body_color: #757575;
  --body_background: #ffffff;
  --green: #719a0a;
  --orange: #fbaf32;
  --green-light: #c9e7a4; /* Even Softer Green for Backgrounds */
  --orange-light: #ffdba4; /* Softer Orange for Accents */
  --footer_color: #454545;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--body_background);
  position: relative;
  background-image: url("green-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  background-attachment: fixed;
}
body img {
  height: 100%;
  width: 100%;
}
.music_button {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  padding: 9px;

  background-color: rgb(156, 210, 189);
  color: rgb(12, 79, 52);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  animation: rotate 10s linear 0s infinite;
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

.music_button.playing {
  color: rgb(255, 98, 55);
}

.menu-section {
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  border-radius: 8px;
}

.section-title {
  font-size: 2.2em;
  text-align: center;
  color: rgb(214, 207, 130);
  margin-bottom: 1rem;
}

.food-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
  gap: 2rem;
  justify-content: center;
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(3px);
  transition: all 0.15s ease-in-out;
  border: 2px solid rgb(89, 132, 97);
}

.food-item:hover {
  transform: translateY(-4px) ;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: rgb(143, 182, 150) 3px 3px 12px, rgb(105, 179, 149) -2px -2px 8px;
  border-color: rgb(145, 164, 127);
  .photo img {
    transform: scale(1.06);
  }
  .food-description {
    color: var(--green);
  }
  .cart-icon {
    color: var(--orange);
  }
}

.food-name,
.food-description,
.food-price {
  color: rgb(200, 230, 221);
  transition: all 0.15s ease-in-out;
}
.photo {
  height: 13rem;

  /* border-radius: 1rem 1rem 5px 50px ; */
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}
.photo img {
  transition: all 0.15s ease-in-out;
  height: 100%;
  width: 100%;
}

.food-name {
  font-size: 1.3em;
  font-weight: bold;
}

.food-description {
  font-size: 0.7em;
  color: var(--orange);
}

.food-price {
  font-size: 1.1em;
  font-weight: bold;
  padding: 1rem;
}

.cart-icon {
  color: white;
  transition: all 0.1s ease-in-out;
  border: 2px solid transparent;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
}
.add-to-cart {
  display: none;
  color: var(--orange);
  font-size: 0.9rem;
  font-weight: bold;
}
.cart-icon:hover {
  transform: scale(1.4);
  color: var(--green) !important;
  border: 2px solid white;
  background-color: white;
  .add-to-cart {
    display: block;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu-section {
    width: 90%;
  }
  .food-item {
    grid-column: span 1;
  }
}
